<h2>User Profile</h2>
<hr>
<p><strong>Email: </strong><%= @customer.email %></p>
<p><strong>Customer since: </strong><%= DateTime.strptime(@customer.created.to_s, '%s').to_date %></p>

<h3>Cards</h3>
<hr>
<%= render partial: "cards/cards_list" %>

<h3>Subscriptions</h3>
<hr>
<%= render partial: "subscriptions/subscriptions_list" %>
