<h2>Thank you for subscribing!</h2>
<div>
  <p>You card will be charged <strong> <%= centsToDollars(@amount) %></strong> every <%= @plan.interval %> for a <%= @plan.name %> Subscription.</p>

  <%= link_to "View your subscriptions", subscriptions_path %>
</div>
