<!-- #TODO: turn number_to_currency to helper method -->
<h2>Thanks, you paid <strong> <%= @plans[params[:plan_id]][:amount] %><%#= number_to_currency(@amount/100.0, format: "%u%n") %></strong>!</h2>
